<nz-layout class="layout">
  <nz-sider
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzBreakpoint]="'md'">
    <div class="mx-auto user-info">
      <div
        class="logo"
        [ngStyle]="
          isCollapsed
            ? { height: '4.5rem', width: '4.5rem' }
            : { height: '7rem', width: '7rem' }
        "></div>
      <p>
        {{ username | truncateText: (isCollapsed ? 5 : 10) }}
      </p>
    </div>
    <ul
      nz-menu
      nzMode="inline">
      <div class="w-100 d-flex justify-content-center mb-4 d-md-none">
        <div>
          <button
            nz-button
            nz-dropdown
            nzType="link"
            [nzDropdownMenu]="options"
            nzPlacement="bottomLeft">
            <span
              nz-icon
              nzType="ellipsis"
              class="fs-1"></span>
          </button>
          <nz-dropdown-menu #options="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                class="d-flex justify-content-center"
                (click)="toggleTheme()">
                <span
                  nz-icon
                  nzType="bg-colors"
                  class="me-3"></span>
                Change Theme
              </li>
              <li nz-menu-item>
                <span
                  nz-icon
                  nzType="logout"
                  nzTheme="outline"
                  class="me-3"></span>
                Cerrar sesión
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
      <ng-container *ngFor="let menu of menuItems">
        <li
          *ngIf="!menu.submenu"
          nz-menu-item
          nzMatchRouter
          [routerLink]="menu.route"
          nz-tooltip
          nzTooltipPlacement="right"
          [nzTooltipTitle]="isCollapsed ? menu.name : null">
          <span
            nz-icon
            [nzType]="menu.icon || ''"></span>
          <span>{{ menu.name | titlecase }}</span>
        </li>

        <li
          *ngIf="menu.submenu"
          nz-submenu
          [nzTitle]="menu.name | titlecase"
          [nzIcon]="menu.icon || ''">
          <ul>
            <li
              *ngFor="let submenu of menu.submenu"
              [routerLink]="submenu.route"
              nzMatchRouter
              nz-menu-item>
              <span
                nz-icon
                [nzType]="submenu.icon || ''"></span>
              <span>{{ submenu.name | titlecase }}</span>
            </li>
          </ul>
        </li>
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout
    class="right-layout"
    [ngStyle]="{ 'margin-left': isCollapsed ? '8rem' : '20rem' }">
    <nz-header class="d-flex justify-content-between align-items-center pe-5">
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed">
      </span>
      <div class="d-none d-md-block">
        <ng-container>
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="settings"
            nzPlacement="bottomLeft"
            [nzSize]="'large'"
            nzType="text"
            nzShape="circle"
            class="me-3">
            <span
              nz-icon
              nzType="setting"></span>
          </button>
          <nz-dropdown-menu #settings="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                class="d-flex justify-content-center"
                (click)="toggleTheme()">
                <span
                  nz-icon
                  nzType="bg-colors"
                  class="me-3"></span>
                Change Theme
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>

        <ng-container>
          <button
            nz-button
            nz-dropdown
            [nzDropdownMenu]="userOptions"
            nzPlacement="bottomLeft"
            [nzSize]="'large'"
            nzType="text"
            nzShape="circle">
            <span
              nz-icon
              nzType="user"></span>
          </button>
          <nz-dropdown-menu #userOptions="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <span
                  nz-icon
                  nzType="logout"
                  nzTheme="outline"
                  class="me-3"></span>
                Cerrar sesión
              </li>
            </ul>
          </nz-dropdown-menu>
        </ng-container>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content container-fluid">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
